/* styles.css */
body {
    background-color:lightblue;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 3vw;
    
}

h2 {
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 2vw;
}

#paragraph2 {
    width: 50%;
    margin: 20px;          
    padding: 30px;              
    border: 7px solid green;
    background-color: white;
    color: black;
    line-height: 2.0;
}

.blue {
    background-color: darkblue;
    color: white;
    padding: 20px;
    border-radius: 0px;
    font-size: 16px;
    line-height: 1.2;
}

ol {
    list-style-type: decimal-leading-zero;
    text-align: left;
    margin-left: 0;
    padding-left: 1.8em;
   
}

li {
    margin-bottom: 3px;
    font-size: 1.2em;
}

li a {
    margin-bottom: 3px;
    font-size: 0.8em;
}

a[target="_blank"] {
    color: #ff0000;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: lightgray;
}

td {
    background-color: white;
    padding: 12px;
}
