/* styles.css */
body {
    background-color: lightblue;
}

#paragraph2 {
    width: 900px;
    margin: 20px;          
    padding: 40px 60px;              
    border-style: solid;   
    border-color: green;
    border-width: 5px;
    background-color: white;
    color: black;
    line-height: 2.0;
}
