/* styles.css */
body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 3vw;
    
}

#paragraph2 {
    width: 900px;
    margin: 20px;          
    padding: 30px;              
    border: 7px solid green;
    background-color: white;
    color: black;
    line-height: 2.0;
}

.blue {
  color: blue;
  font-size: 16px;
  line-height: 1.6;
}

