/* styles.css */
body {
    background-color: lightblue;
}

#paragraph2 {
    border-style: solid;
    border-color: green;
    border-width: 3px;
    background-color: white;
    color: black;
    line-height: 2.0;
    width: 60%
    padding: 10px;
}
