/* styles.css */
body {
    background-color: lightblue;
}

#paragraph2 {
    width: 900px;
    margin: 20px;          
    padding: 30px;              
    border: 8px solid green;
    background-color: white;
    color: black;
    line-height: 2.0;
}
