/* styles.css */
body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: arial, sans-serif;
    
}

#paragraph2 {
    width: 900px;
    margin: 20px;          
    padding: 30px;              
    border: 8px solid green;
    background-color: white;
    color: black;
    line-height: 2.0;
}
